BODY{font-family:Verdana,Tahoma,Trebuchet MS,Arial;font-size:11px}TABLE,TR,TD,TH{font-family:Verdana,Tahoma,Trebuchet MS,Arial;font-size:11px; text-align:left;  }TABLE.frame{border:1px solid #c9c9c9;}

TH.caption{color:#FFFFFF;background-color:#0066CC;font-size:12px;text-align:left;   padding: 8px;}

TD.justify{text-align:justify}TD.text{text-align:justify;padding:10px}TD.menu{color:#FFFFFF;background-color:#0066CC}TD.submenu{color:#0066CC;background-color:#FFFFFF}TD.submenu a{width:100%;padding:2px;margin:0px}TD.submenu a:visited{padding:2px}TD.submenu a:hover{background-color:#EEEEEE;border:1px solid #0066CC;padding:1px}TD.info{color:#000000;background-color:#DDDDDD;text-align:center}

TD.capl{color:#FFF;background-color:#0066CB;font-weight:bolder; height:25px; padding-left: 5px;}

TD.capc{color:#000000;background-color:#CCCCCC;text-align:center;font-weight:bolder}TD.capr{color:#000000;background-color:#CCCCCC;text-align:right;font-weight:bolder}TD.field{color:#444444;background-color:#EAEAEA;text-align:right;vertical-align:top;font-weight:bolder}TD.input{background-color:#EEEEEE;vertical-align:top}TD.error{font-weight:bolder;color:#FFFFFF;background-color:#FF0000}TD.courier{font-family:Courier New,Courier;font-size:12px;background-color:#FFFFFF}TD.row{font-size:10px}A,A:active,A:visited{color:#0066CC;text-decoration:none}A:hover{color:#FF3399}A.menu,A.menu:active,A.menu:visited{text-decoration:none}
A.menu:hover{color:#CCCCFF}A.copy,A.copy:active,A.copy:visited,A.copy:hover{color:#777777;font-size:10px;text-decoration:none}H1{color:#0066CC;font-size:12px;font-weight:bolder}H2{color:#000000;font-size:11px;font-weight:bolder}INPUT,SELECT,TEXTAREA{font-family:Verdana,Tahoma,Trebuchet MS,Arial;font-size:11px;color:#0066CC;border:solid 1px #0066CC}INPUT.submit{font-family:Verdana,Tahoma,Trebuchet MS,Arial;font-size:11px;color:#0066CC;background-color:#CCCCFF;border:solid 1px #0066CC;cursor:hand}INPUT.checkbox{border:0px}HR{color:#0066CC;height:1px}FONT.remark{color:#777777;font-size:9px}IMG.frame{border:solid 1px #0066CC}PRE.info{font-family:Courier New,Courier,Arial;font-size:12px;font-weight:bolder;color:#000000}PRE.comms{font-family:Courier New,Courier,Arial;font-size:11px;color:#000000}IMG.turing{border:solid 1px #0066CC}IMG.logos{border:solid 1px #DDDDDD}LABEL{cursor:hand}


/****************************************** STYLE SHEET **********************************************/

@font-face {
	font-family: sans_light;
	src: url("fonts/Basic_Sans_Light_SF.eot")  /*EOT file for IE*/
} 
@font-face {
	font-family: sans_light;
	src: url("fonts/Basic Sans Light SF.TTF") /* TTF file for CSS3 browsers */
}
.wrapper{
	margin:0 auto; width:951px;
}
.header{
	float:left; width:951px; height:130px; 
}
.logo{
	float:left; width:338px;
}
.header_right{
	float:left; width:612px;
}
.top_menu{
	float:left; width:612px; padding:20px 0px; font-size:11px;
}
.top_menu ul{
	float:left; width:612px; list-style:none;
}
.top_menu ul li{
	padding:; text-align:left; font-size:; display:inline;
}
.top_menu ul li:first-child{
	background:none;
}
.top_menu ul li a{
	color:#7a7a7a; text-decoration: none; background:url(images/ipaygold_26.jpg) no-repeat right top; float:left; padding:14px 9px;
}
.top_menu ul li a:hover{
	color:#4c94db; text-decoration: none; background:url(images/ipaygold_27.jpg) repeat-x top;
}
.header_strip{
	float:left; width:612px; background:url(images/ipaygold_28.jpg) no-repeat; height:47px;
}
.header_strip div.text{
	float:left; text-align:right; width:460px; font-size:11px; color:#FFFFFF; text-transform:uppercase;
	padding:15px 20px 0px 0px;
}
.header_strip div.input_box{
	float:left; width:120px; padding:12px 0px 0px 0px;
}
.header_strip div.input_box select{
	float:left; background:url(images/ipaygold_29.jpg) no-repeat; width:120px; height:21px; border:none; padding:2px;
	color:#0267cc; font-size:11px;
}
.header_strip div.input_box select option{
	background:none;
}
.banner{
	float:left; width:951px; padding:0px 0px 9px 0px;
}
.main{
	float:left; width:951px; padding:0px 0px 25px 0px;
}
.primary{
	float:left; width:252px; padding:0px 9px 0px 0px;
}
.widget_area{
	float:left; width:252px;
}
.widget_area_top{
	float:left; width:232px; background:url(images/ipaygold_30.jpg) no-repeat; height:31px; padding:7px 0px 0px 20px;
	color:#FFFFFF; font-family:"Times New Roman", Times, serif; font-size:18px;
}
.widget_area_content{
	float:left; width:252px; background:url(images/ipaygold_33.jpg) repeat-y;
}
.widget_area_content ul{
	float:left; width:224px; padding:0px 14px;
}
.widget_area_content ul li{
	float:left; width:224px; list-style:none; padding:2px 0px;
}
.widget_area_content ul li a{
	background:url(images/ipaygold_31.jpg) no-repeat; width:190px; height:19px; color:#7a7a7a; text-decoration:none; float:left;
	font-size:11px; padding:3px 0px 0px 33px;
}
.widget_area_content ul li a:hover{
	background:url(images/ipaygold_32.jpg) no-repeat; color:#0066cc;
}
.widget_contact{
	float:left; width:224px; padding:5px 14px; font-size:11px;
}
.widget_contact div.text1{
	float:left; width:154px; color:; text-transform:uppercase; padding:3px 0px 0px 0px;
}
.widget_contact div.text1 span{
	color:#0066cc;
}
.widget_contact div.text1 a{
	color:#7a7a7a; text-decoration:none;
}
.widget_contact div.text1 a:hover{
	color:#7a7a7a; text-decoration:none;
}
.widget_contact div.submit{
	float:left; width:70px;
}
.widget_contact div.submit input.login{
	float:left; background:url(images/ipaygold_34.jpg) no-repeat; width:69px; height:24px; border:none;
}
.widget_contact div.name{
	float:left; width:54px; color:#7a7a7a; padding:2px 0px 0px 0px;
}
.widget_contact div.box{
	float:left; width:170px;
}
.widget_contact div.box input.box_inner{
	float:left; width:164px; border:1px solid #c0c0c0; padding:2px; background:none; color:#7a7a7a; font-size:11px;
}
.widget_area_bottom{
	float:left; width:252px; background:url(images/ipaygold_15.jpg) no-repeat; height:17px;
}
.container{
	float:left; width:690px;
}
.secondary{
	float:left; width:690px;
}
.online_tools{
	float:left; width:291px; background:url(images/ipaygold_37.jpg) no-repeat; height:111px; padding:20px 15px 0px 15px;
	color:#FFFFFF; font-size:11px;
}
.online_tools div.block{
	float:left; width:291px; text-align:left; padding:8px 0px 0px 0px;
}
.online_tools div.block div.heading{
	float:left; width:291px; font-size:; font-weight:bold; text-transform:uppercase;
}
.online_tools div.block div.desc{
	float:left; width:291px; padding:;
}
.online_tools div.block div.desc div.desc1{
	float:left; width:181px; padding: 0px 6px 0px 0px;
}
.online_tools div.block div.desc div.image{
	float:left; width:104px;
}
.chat{
	float:right; width:356px; background:url(images/ipaygold_39.jpg) no-repeat; height:131px;
}
.chat div.content{
	float:right; width:163px;
}
.chat div.content div.text{
	float:right; width:163px; text-align:left; line-height:18px; color:#FFFFFF; font-weight:bold; font-size:11px;
	padding:50px 0px 0px 0px;
}
.chat div.content div.image{
	float:right; width:143px; padding:5px 20px 0px 0px;
}
.container{
	float:left; width:670px; padding:0px 0px 0px 0px;
}
.container div.top_text{
	float:left; width:670px; font-family:; font-size:29px; color:#0066cc; padding:; text-align:left;
}
.container div.top_text1{
	float:left; width:670px; font-family:; font-size:20px; color:#0066cc; padding:; text-align:center; font-weight:bold;
}
.container div.main_content{
	float:left; width:670px; font-size:11px;
}
.container div.main_content div.image{
	float:left; width:307px; padding:0px 6px 0px 0px;
}
.body_image{
	float:left; width:307px;
}
.text_block{
	float:left; width:307px;
}
.container_right{
	float:left; width:352px; padding:0px 5px 0px 0px;
}
.container_right div.heading{
	float:left; width:352px; text-align:left; font-size:20px; font-weight:bold; color:#224577; padding:5px 0px;
}
.container_right div.text_block{
	float:left; width:352px; text-align:left; color:#3e3e3e; font-weight:bold; padding:5px 0px 0px 0px;
}
.container_right div.desc{
	float:left; width:352px; text-align:left; line-height:18px; color:#7a7a7a;
}
.text_block div.heading{
	float:left; width:307px; text-align:left; color:#3e3e3e; font-weight:bold;
}
.text_block div.desc{
	float:left; width:307px; text-align:left; line-height:18px; color:#7a7a7a;
}
.bottom_image{
	float:left; width:670px; padding:40px 0px 0px 0px;
}
.footer{
	float:left; width:951px; padding:0px 0px 29px 0px; font-size:11px; color:#7a7a7a;
}
.footer ul{
	float:left; width:720px; text-align:center;
}
.footer ul li{
	padding:0px 10px; display:inline; background:url(images/ipaygold_35.jpg) no-repeat left center; list-style:none;
	text-transform:uppercase;
}
.footer ul li:first-child{
	background:none;
}
.footer ul li a{
	color:#7a7a7a; text-decoration:none;
}
.footer ul li a:hover{
	color:#0066cc; text-decoration:none;
}
.copyrights{
	float:left; width:231px; text-align:right; padding-top:25px; font-size: 11px;
}
.copyrights a{
	color:#7a7a7a; text-decoration:none;
}
.copyrights a:hover{
	color:#0066cc; text-decoration:none;
}
.signup{
background:url(../images/ipaygold_35.png) no-repeat left center; height:111px; width:226px; float:left; 
}