<?if(isset($data['ScriptLoaded'])){?>
<div align="center">
<div align="left"><?= $data['result']; ?></div>
<form name="uploadbanner1" action="image.htm" method="post" enctype="multipart/form-data">
<table width="100%" style="height:150px;"><tr>
	<td width="15%"><strong>Image Size <font color="#FF0000">1024*120</font> =></strong></td>
	<td width="54%"><? $getimage = mysql_query(" SELECT * FROM dp_banners WHERE id='1' ") or die(mysql_error());
	$resgetimage = mysql_fetch_array($getimage);
	echo "<img src = '../images/banners/".$resgetimage['name']."' width='1024' height='120' border='1'>";
	?>
	</td></tr>
<br />
<tr>
	<td><input type="radio" name="chkimage1" value="chkimage1" 
	<? $act = mysql_query(" SELECT * FROM dp_banners WHERE activate ='1' AND id='1' ") or die(mysql_error());
	if(mysql_num_rows($act)>0)
	{
		echo 'checked="checked"';		
	}	
	?>	/><strong>Activate</strong></td>
	<td><input type="file" name="uploadimage1" size="30" id="uploadimage1" value=""/>&nbsp;&nbsp;<input type="submit" name="Upload" value="Upload" /> </td>
</tr></table>
</form>
<hr />
<div align="left"><?= $data['result2']; ?></div>
<form name="uploadbanner2" action="image.htm" method="post" enctype="multipart/form-data">
<table width="100%" style="height:150px;"><tr>
	<td width="15%"><strong>Image Size <font color="#FF0000">754*80</font> =></strong></td>
	<td width="54%"><? $getimage = mysql_query(" SELECT * FROM dp_banners WHERE id='2' ") or die(mysql_error());
	$resgetimage = mysql_fetch_array($getimage);
	echo "<img src = '../images/banners/".$resgetimage['name']."' width='754' height='80' border='1'>";
	?></td>
	
</tr>

<tr>
	<td><input type="radio" name="chkimage2" value="chkimage2" 
	<? $act2 = mysql_query(" SELECT * FROM dp_banners WHERE activate ='1' AND id='2' ") or die(mysql_error());
	if(mysql_num_rows($act2)>0)
	{
		echo 'checked="checked"';		
	}	
	?> /><strong>Activate</strong></td>
	<td width="26%"><input type="file" name="uploadimage2" size="30" id="uploadimage2" value=""/>&nbsp;&nbsp;<input type="submit" name="Upload" value="Upload" /> </td>
</tr></table>
</form>
<hr />
<div align="left"><?= $data['result3']; ?></div>
<form name="uploadbanner3" action="image.htm" method="post" enctype="multipart/form-data">
<table width="100%" style="height:150px;"><tr>
	<td width="15%"><strong>Image Size <font color="#FF0000">550*80</font> =></strong></td>
	<td width="54%"><? $getimage = mysql_query(" SELECT * FROM dp_banners WHERE id='3' ") or die(mysql_error());
	$resgetimage = mysql_fetch_array($getimage);
	echo "<img src = '../images/banners/".$resgetimage['name']."' width='550' height='80' border='1'>";
	?></td>
	
</tr>

<tr>
	<td><input type="radio" name="chkimage3" value="chkimage3" 
	<? $act3 = mysql_query(" SELECT * FROM dp_banners WHERE activate ='1' AND id='3' ") or die(mysql_error());	
	if(mysql_num_rows($act3)>0)
	{
		echo 'checked="checked"';		
	}	
	?> /><strong>Activate</strong></td>
	<td width="26%"><input type="file" name="uploadimage3" size="30" id="uploadimage3" value=""/>&nbsp;&nbsp;<input type="submit" name="Upload" value="Upload" /> </td>
</tr></table>
</form>
</div>
<?}?>