<!DOCTYPE HTML  >
<html >
 <head>
  <title><?=prntext($data['SiteTitle'])?></title>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
  <meta name=Title content="<?=prntext($data['SiteTitle'])?>">
  <meta name=Description content="<?=prntext($data['SiteDescription'])?>">
  <meta name=Keywords content="<?=prntext($data['SiteKeywords'])?>">
  <meta name=Copyright content="<?=prntext($data['SiteCopyrights'])?>">
  <meta name=Classification content="Business">
  <meta name=Rating content="General">
  <meta name=Robots content="index,nofollow">
  <meta name=Revisit-After content="7 Days">
  <meta http-equiv="pragma" content="no-cache"/>
 <!-- <meta http-equiv=Content-Type content="text/html; charset=<?=prntext($data['SiteCharset'])?>">-->
  <link rel=stylesheet type=text/css href="<?=$data['Host']?>/css/style.css">
  <link rel=stylesheet type=text/css href="<?=$data['Host']?>/css/keyboard.css">
  <link rel="stylesheet" type="text/css" href="<?=$data['Host']?>/css/template.css" />
  <!--MultiLanguage Code-->
  <script type=text/javascript language=JavaScript src="<?=$data['Host']?>/js/jquery_002.js"></script>
  <script type=text/javascript language=JavaScript src="<?=$data['Host']?>/js/jquery_003.js"></script>
  <script type=text/javascript language=JavaScript src="<?=$data['Host']?>/js/jquery_cookie.js"></script>
  <script type=text/javascript language=JavaScript src="<?=$data['Host']?>/js/load_lang.js"></script>
  <!--MultiLanguage Code-->
  <script type=text/javascript language=JavaScript src="<?=$data['Host']?>/js/keyboard.js"></script>
  <script type=text/javascript language=JavaScript src="<?=$data['Host']?>/js/script.js"></script>
  <script type=text/javascript>function s(){window.status="<?=prntext($data['SiteTitle'])?>";return true};if(document.layers)document.captureEvents(Event.MOUSEOVER|Event.MOUSEOUT|Event.CLICK|Event.DBLCLICK);document.onmouseover=s;document.onmouseout=s;</script>
 </head>
 <body topmargin=0 leftmargin=0 marginwidth=0 marginheight=0 bgcolor=#FFFFFF>
 
 
  
 <div class="wrapper">
	<div class="header">
		<div class="logo"><a href="http://www.alstrasoft.com/"><img src="<?=$data['Host']?>/images/ipaygold_01.jpg" width="338" height="130" alt="" /></a></div>
		<div class="header_right">
		 <?showmenu('horz')?>
         <div class="header_strip">
		   <?if(!$_SESSION['login']){?>
			<div class="text">SEND OR RECEIVE MONEY VIA E-MAIL ANYWHERE IN THE WORLD! </div>
			<?}else{?><div class="text" >&nbsp;<font color=#FFFFFF>Username: <?=prntext($post['Username'])?> (<?=prntext($post['MailAddr'])?>)</font>&nbsp; 
		  <font color=#FFFFFF>|</font>&nbsp; <font color=#FFFFFF >Balance: <?=prntext($data['Currency'])?><?=prnsumm($post['Balance'])?></font>&nbsp; 
		  <font color=#FFFFFF>|</font>&nbsp;<font color=#FFFFFF>Current IP:   <?=prntext($post['Address'])?></font></div><?}?>
				<div class="input_box">
				<div class="flagsec" style="float: left; clear: left;" id="language" align="left">
				<!--<select name='menu_lang' onChange="change_ln(this.value);" style="display:none" ><? show_menu_langs(); ?></select>-->
				<select style="display:none;"></select>
				<!-- ???????-?????????? -->
				</div>
				</div>
			</div>
		</div>
	</div>
  <div class="banner">
 </div>

  <br>
  <br>
 <div class="main">
		<div class="primary">
			<?showmenu('vert')?>


      <?if($data['IsLogin']&&!$_SESSION['login']){?>
		<div class="widget_area"> 
		 <div class="widget_area_top">Member Login</div>
		 <div class="widget_area_content">
				 <form method=post action="<?=$data['Members']?>/login.htm">

					<div class="widget_contact">
						<div class="name">Username</div>
						<div class="box">
							<input type=text name=username size=20 maxlength=32 class="box_inner"></div>
					</div>
					<div class="widget_contact">
						<div class="name">Password</div>
						<div class="box">
							<input type=password name=password size=20 maxlength=32 class="box_inner"></div>
					</div>
					<div class="widget_contact">
						<div class="text1"><a href="<?=$data['Members']?>/forgot.htm">forgot email/password<span>?</span></a></div>
						<div class="submit">
						<input class=login type=submit name=send value="" >
					</div>
					</form>
			</div>
					 <?if($data['IsSignup']&&!$_SESSION['login']){?>
 <?}?>
					<div class="widget_contact">
						<a href="<?=$data['Members']?>/signup.htm" class="signup">&nbsp;</a>
					</div>
				</div>
				<div class="widget_area_bottom">&nbsp;</div>
			</div>
			 <?}?>
            </div>
			
 <?if($_SESSION['login']){?>
<div style="float:left; width:951px;">
 <?}?>
<div style="float:left; width:252px;">
 <?if(!$data['HideMenu']){?>
 <?if($_SESSION['login']){?>
 <?showmenu('accv')?>
 <?}?>
 <?}?>
 </div>
<div style="width:685px; float:right;">
